
body {
  background-color: #FFE5B4;
}

/* input[type="file"] {
  display: none;
} */
.button_submit {
  display: block;
  margin-top: 5%;
  margin-left: 48%;
  padding: 10px;
  background-color: #FFA500;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.container {
  text-align: center;
}
.class_1
{
  background-color: #FFA500;
  color: white;
  padding: 30px;
  border-radius: 10px;
  font-size: 40;
  text-align: center;
}

.label_select{
  display: inline-block;
  margin-top: 10%;
  padding: 12px;
  background-color: #FFA500;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}


h1 {
  background-color: #FFA500;
  color: white;
  padding: 10px;
  text-align: center;
}
