<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automated Video Thumbnail Retrival</title>
    
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}" > -->
    <link rel="stylesheet" href="../static/CSS/style.css">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_KVIOqM1KGXMeSuAdcfsaa");
        })();
    </script>
    <!-- <link rel="stylesheet" type="text/css" href="/static/style.css" > --> 
    <!-- 1st with flask and 2nd with html live server -->

</head>
<body>
    <!-- <div class="class_1">
        Welcome to Automated Video Thumbnail Retrival System
    </div>
    <div class="container">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input class="label_select" type="file" name="video" id="video">
            <button class="button_submit" type="submit">Upload</button>
        </form>
    </div> -->

    <div class="landing_page" id="landing_page">
        
        <div class="content3">
            <div class="content_box_outerbox">
                <div class="content_box">
                    <div class="starting_lines_box">
                        <span class='starting_lines'>B.TECH PROJECT</span>
                        <span class='starting_lines' id='another_coloured_st'>FINAL</span>
                    </div>
                    <div class="catch_phrase" id="catch_phrase">
                        <span>Automated Video Thumbnail <br> Retrival System</span>
                    </div>
                    <div class="another_text_box">
                        <span class="useless">h</span>
                        <span class="text1" id="text1">Upload Video </span>
                        <!-- <span class="text1 second_text">Graphics</span> -->
                    </div>
                    <!-- <div class="subtext_box">
                        <span class="catch_phrase" id="catch_phrase">With the brightest students and professors</span>
                    </div> -->
                    <div class="explore_button_box">
                        <!-- <button class="explore_button">Upload</button> -->
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                            <input class="explore_button" type="file" name="video" id="video">
                            <button style="cursor: pointer;" class="explore_button edited" type="submit">Upload</button>
                        </form>
                    </div>
    
                </div>
    
                <div class="stuff_picture">
                    <img src="../static/images/thumbnail.webp" alt="" id="stuff_landing_page">
                </div>
            </div>
    
        </div>
    </div>
    
    <div class="container1" id="team">
        <div class="team_us_heading">Team Behind This Project</div>
        <div class="sub_container">
            <div class="sub_inner">
                <div class="image"><img src="../static/images/aniket.png" alt=""
                        class="real_image"></div>
                <div class="sub_heading">Aniket Gupta <br />2019UCO1663</div>
                <!-- <div class="sub_text">2019UCO1663</div> -->
            </div>
            <div class="sub_inner">
                <div class="image"><img src="../static/images/Shreyans.png" alt="" class="real_image">
                </div>
                <div class="sub_heading">Shreyans Jain <br />2019UCO1659</div>
                <!-- <div class="sub_text">2019UCO1659</div> -->
            </div>
            <div class="sub_inner">
                <div class="image"><img src="../static/images/nikhil.png" alt="" class="real_image">
                </div>
                <div class="sub_heading">Nikhil Grewal <br />2019UCO1702</div>
                <!-- <div class="sub_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div> -->
            </div>
            <div class="sub_inner">
                <div class="image"><img src="../static/images/ankit.png" alt="" class="real_image">
                </div>
                <div class="sub_heading">Ankit Kumar Yadav <br />2019UCO1712</div>
                <!-- <div class="sub_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div> -->
            </div>
        </div>
    </div>
    
    
    <!-- <div class="counter_container">
        <div class="counter_inner" id="counter_inner1">
            <div class="counter">233</div>
            <div class="info">Projects</div>
        </div>
        <div class="counter_inner" id="counter_inner2">
            <div class="counter" id="counter">0</div>
            <div class="info">Customers</div>
        </div>
        <div class="counter_inner" id="counter_inner3">
            <div class="counter">7</div>
            <div class="info">Companies</div>
        </div>
        <div class="counter_inner" id="counter_inner4">
            <div class="counter">4</div>
            <div class="info">Experience</div>
        </div>
    </div> -->
    
    <div class="container2" id="about">
        <div class="about_heading_container">
            <div class="about_heading">ABOUT</div>
        </div>
    
        <div class="underline"></div>
    
        <div class="about_text_outer">
            <div class="about_text">
                Given a long format video, our goal is to rank the frames of the video in terms of their suitability of being a video
                thumbnail candidate. We will score each frame of the video in terms of its suitability to being a thumbnail candidate,
                and select the best frame as the thumbnail of the video.
            </div>
        </div>
    
        <div class="about_box_container">
            <div class="about_box" id="about_box1">
                <div class="about_inner">
                    <div class="about_image_container">
                        <img src="../static/images/frame.png" alt="" class="about_image">
                    </div>
                    <div class="about_inner_heading"><br>Extracting Frames</div>
                    <div class="about_content">We have extracted frames from the video (720 x 1080).The video taken for demonstration is 30fps and we have collected
                    every fourth frame from the video.</div>
                </div>
            </div>
            <div class="about_box" id="about_box2">
                <div class="about_inner">
                    <div class="about_image_container">
                        <img src="../static/images/Clustering.png" alt="" class="about_image">
                    </div>
                    <div class="about_inner_heading"><br>Clustering Faces</div>
                    <div class="about_content">All the faces collected using the MTCNN model are clustered using the Agglomerative Clustering algorithm, with centroid
                    linkage for calculating distance between clusters.</div>
                </div>
            </div>
            <div class="about_box" id="about_box3">
                <div class="about_inner">
                    <div class="about_image_container">
                        <img src="../static/images/Character_interaction.png" alt="" class="about_image">
                    </div>
                    <div class="about_inner_heading"><br>Character Interaction Graph</div>
                    <div class="about_content">
                        This helps in registering the interaction between characters that
                        will account for a score in deciding whether to choose them for the thumbnail.
                    </div>
                </div>
            </div>
            <div class="about_box" id="about_box3">
                <div class="about_inner">
                    <div class="about_image_container">
                        <img src="../static/images/score.png" alt="" class="about_image">
                    </div>
                    <div class="about_inner_heading"><br>Scoring Frames</div>
                    <div class="about_content">
                        We have calculated 3 scores, prominence score, expression score and landscape score, which 
                        helps in getting the best thumbnails for the video.
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script src="main_page.js"></script>

</body>
</html>
