<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automated Video Thumbnail</title>
    <div class="class_1">
        Welcome to Automated Video Thumbnail Retrival System
    </div>
    <div class="container">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input class="label_select" type="file" name="video" id="video">
            <button class="button_submit" type="submit">Upload</button>
        </form>
    </div>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}" >
    <!-- <link rel="stylesheet" type="text/css" href="/static/style.css" > --> 
    <!-- 1st with flask and 2nd with html live server -->

</head>
<body>
    
</body>
</html>
